* {
    margin: 0;
    border: 0;
    padding: 0;
}
html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    background-image: url(wallpaper.png);
    background-size: cover;
    background-position: center;
}
/* Estilizando o menu de navegação */
.icones {
    height: 25px;
    width: 25px;
    padding-right: 5px;
}
.itemMenu {
    text-decoration: none;
    font-family: 'Poppins';
    color: rgb(255, 255, 255);
}

.header {
    background: rgb(106, 13, 173);
    padding-inline: 16px;
}
.menu {
    max-width: 1280px;
    height: 70px;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.listaMenu {
    display: flex;
    gap: 32px;
    list-style: none;
    z-index: 3;
}
.listaMenu a {
    font-size: 1.5rem;
    padding-block: 16px;
}
.menuHamburguer {
    border: none;
    background: none;
    border-top: 3px solid rgb(255, 255, 255);
    cursor: pointer;
    display: none;
}
.menuHamburguer::before,
.menuHamburguer::after {
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: rgb(255, 255, 255);
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
}

/* Estilizando o Formulário */
form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
    height: 100%;
}
#formContainer {
    display: flex;
    flex-direction: column;
    gap: 32px;
    height: 100%;
    width: 48%;
    margin-left: 450px;
    margin-top: 50px;
    margin-bottom: 100px;
    position: relative;
    background: rgba(224, 224, 224, 0.3);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 10px 15px -3px rgba(255, 255, 255, 0.5);
    border: 3px solid rgb(168, 85, 247);
}
.formTitulo {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 2.3rem;
    color: rgb(255, 255, 255);
    text-align: center;
    position: relative;
}
.btnCadastro {
    background: rgb(0, 255, 127);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: none;
    padding: 5px;
    width: 30%;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 1.8rem;
    color: rgb(255, 255, 255);
    cursor: pointer;
    gap: 8px;
    height: fit-content;
    box-shadow: 2px 2px 3px  rgba(255, 255, 255, 0.3);
}
#inputContainer {
    display: grid;
    gap: 24px;
}
.formLabel {
    font-family: 'Roboto';
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    font-weight: 500;
}
.inputField {
    display: flex;
    align-items: center;
    background-color: rgb(224, 224, 224);
    border-radius: 8px;
    box-shadow: 2px 2px 3px rgba(255, 255, 255, 0.3);
}
.inputField img {
    display: flex;
    align-items: center;
    width: 30px;
    height: 20px;
    color: rgb(224, 224, 224);
}
.formControl {
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 8px;
    font-family: 'Roboto';
}
.formControl:focus {
    outline: none;
}
.inputBox .inputField:focus-within {
    outline: 2px solid rgb(168, 85, 247);
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
    color: rgb(0, 0, 0);
}
.radioContainer {
    grid-column: span 2;
}
#genderInputs {
    display: flex;
    gap: 20px;
}
.radioBox {
    display: flex;
    gap: 5px;
    align-items: center;
}
.formControl[type="radio"] {
    accent-color: rgb(168, 85, 247);
}
#confirmationMessage {
    width: 40%;
    height: 10%;
    font-size: 5rem;
    font-family: 'Roboto';
    color: rgb(10, 116, 218);
    text-shadow: 1px 1px 2px rgb(106, 13, 173);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(224, 224, 224, 0.8);
    padding: 20px;
    border-radius: 8px;
    border: 1px solid rgb(30, 144, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 3;
    text-align: center;
    justify-content: center;
}


/* Estilizando o conteudo da esquerda */
#fotosEvento {
    width: 300px;
    height: 400px;
    position:relative;
    margin-left: 20px;
    float: left;
}
.card {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1px;
    max-width: 1200px;
    margin: 0 auto;
}
.imgFotos {
    width: 100%;
    height: 100%;
}
.fotos {
    background: rgba(224, 224, 224, 0.4);
    padding: 10px;
    box-shadow: 1px 1px 2px rgba(224, 224, 224, 0.3);
    border: 3px solid rgb(30, 144, 255);
}

/* Estilizando o conteudo da direita */
.imgInformacao {
    width: 100%;
    height: 100%;
}
.informacoes {
    background: rgba(224, 224, 224, 0.4);
    margin-left: 60px;
    box-shadow: 1px 1px 2px rgba(224, 224, 224, 0.3);
    border: 3px solid rgb(30, 144, 255);
}
#infEvento {
    width: 400px;
    height: 400px;
    position:fixed;
    right: 0;
    transform: translateY(-50%);
    top: 30%;
    margin: 20px;
    margin-top: 120px;
}
h1 {
    text-align: center;
    font-family: 'Poppins';
    font-size: 3rem;
    margin: 10px;
    color: rgb(255, 255, 255);
}
h3 {
    text-align: center;
    font-family: 'Roboto';
    font-size: 1.8rem;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}
p {
    text-align: center;
    font-family: 'Roboto';
    font-size: 1.3rem;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

/* Footer*/
footer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.redeSocial {
    list-style-type: none;
    display: flex;
    position: relative;
    gap: 40px;
}

.social {
    width: 80px;
    height: 80px;
    background-color: rgb(224, 224, 224);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: .2s;
}  
.social span {
    position: absolute;
}  
.social:hover {
    width: 180px;
}  
.icon {
    color: rgb(30, 144, 255);
    font-size: 2.5rem;
    transition: .2s;
} 
.social:hover .icon {
    transform: scale(0);
} 
.social .text {
    color: rgb(255, 255, 255);
    font-size: 2rem;
    transform: scale(0);
    transition: .2s;
    transition-delay: .1s;
    font-weight: 600;
    font-family: 'Roboto';
}  
.social:hover .text {
    transform: scale(1);
}  
.social::before {
    content: ' ';
    position: absolute;
    background-image: linear-gradient(45deg, var(--cor1), var(--cor2));
    inset: 0;
    opacity: 0;
    border-radius: 60px;
}  
.social:hover::before {
    opacity: 1;
}

/* Responsividade*/
@media (max-width: 880px) {
    header {
        width: 100%;
    }
    .menuHamburguer {
        display: block;
        z-index: 10;
    }
    .listaMenu {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: rgb(106, 13, 173);
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0;
        clip-path: circle(100px at 90% -15%);
        transition: 1s ease-out;
        pointer-events: none;
        border-radius: 30px;
        z-index: 5;
    }
    .listaMenu a {
        font-size: 3rem;
        opacity: 0;
    }
    .listaMenu li:nth-child(1) a{
        transition: 0.5s 0.2s;
    }
    .listaMenu li:nth-child(2) a{
        transition: 0.5s 0.4s;
    }
    .listaMenu li:nth-child(3) a{
        transition: 0.5s 0.6s;
    }
    .icones {
        height: 35px;
        width: 35px;
        padding-right: 8px;
    }
    .menu.active .listaMenu {
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
    }
    .menu.active .listaMenu a {
        opacity: 1;
    }
    .menu.active .menuHamburguer{
        position: fixed;
        top: 26px;
        right: 16px;
        border-top-color:transparent ;
    }
    .menu.active .menuHamburguer::before {
        transform: rotate(135deg);
    }
    .menu.active .menuHamburguer::after {
        transform: rotate(-135deg);
        top: -7px;      
    }
    .menu.active + main {
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.3s ease-out;
    }
    #fotosEvento {
        width: 100%;
        height: 30%;
        position:relative;
        margin-bottom: 10px;
    }
    #infEvento {
        position: relative;
        width: 100%;
        margin: 0;
        bottom: 0;
        margin-top: 150px;
        margin-left: 20px;
    }
    #infEvento h1 {
        margin-top: 220px;
        width: 100%;
        height: 15%;
    }
    #formContainer {
        width: 100%;
        margin-left: 0;
        position: relative;
        text-shadow: 1px 1px 2px rgb(0, 0, 0);
    }
    .formLabel {
        font-size: 1.8rem;
    }
    .btnCadastro {
        width: 40%;
    }
    h1 {
        width: 100%;
        height: 30%;
    }
    p {
        width: 100%;
        height: 60%;
        font-size: 2rem;
        text-align: center;
    }
    h3 {
        width: 100%;
        height: 40%;
        font-size: 2rem;
        text-align: center;
        margin-top: 10px;
    }
    .informacoes {
        width: 100%;
        height: 150px;
        margin-left: 0;
        bottom: 0;
    }
    .card {
        display: flex;
        max-width: 100%;
        height: 100px;
    }
    header {
        width: 100%;
    }
    #confirmationMessage {
        width: 50%;
        height: 100px;
        font-size: 3rem;
    }
}