* {
    margin: 0;
    border: 0;
    padding: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
    scroll-behavior: smooth;
}
/* Estilizando o menu de navegação */
.icones {
    height: 25px;
    width: 25px;
    padding-right: 5px;
}
.itemMenu {
    text-decoration: none;
    font-family: 'Poppins';
    color: rgb(255, 255, 255);
}

.header {
    background: rgb(106, 13, 173);
    padding-inline: 16px;
}

.menu {
    max-width: 1280px;
    height: 70px;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.listaMenu {
    display: flex;
    gap: 32px;
    list-style: none;
}
.listaMenu a {
    font-size: 1.5rem;
    padding-block: 16px;
}

.menuHamburguer {
    border: none;
    background: none;
    border-top: 3px solid rgb(255, 255, 255);
    cursor: pointer;
    display: none;
}
.menuHamburguer::before,
.menuHamburguer::after {
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: rgb(255, 255, 255);
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
}

/* Estilizando o conteudo da esquerda */
.card {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1px;
    max-width: 1200px;
    margin: 0 auto;
}

.imgPalestrante {
    width: 100%;
    height: 100%;
}
.palestrante {
    background: rgba(224, 224, 224, 0.4);
    backdrop-filter: blur(5px);
    margin: 60px;
    box-shadow: 1px 1px 2px rgba(224, 224, 224, 0.3);
}

#fotosEvento {
    width: 400px;
    height: 400px;
    position:relative;
}

h1 {
    text-align: center;
    font-family: 'Poppins';
    font-size: 2rem;
    margin: 10px;
    color: rgb(255, 255, 255);
}
h3 {
    text-align: center;
    font-family: 'Roboto';
    font-size: 1.8rem;
    color: rgb(255, 255, 255);
}
p {
    text-align: center;
    font-family: 'Roboto';
    font-size: 1.3rem;
    color: rgb(255, 255, 255);
}

/* Footer*/

footer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.redeSocial {
    list-style-type: none;
    display: flex;
    position: relative;
    gap: 40px;
  }
  
.social {
    width: 80px;
    height: 80px;
    background-color: rgb(224, 224, 224);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: .2s;
}
  
.social span {
    position: absolute;
}
  
.social:hover {
    width: 180px;
  }
  
.icon {
    color: rgb(30, 144, 255);
    font-size: 2.5rem;
    transition: .2s;
}
  
.social:hover .icon {
    transform: scale(0);
}
  
.social .text {
    color: rgb(255, 255, 255);
    font-size: 2rem;
    transform: scale(0);
    transition: .2s;
    transition-delay: .1s;
    font-weight: 600;
    font-family: 'Roboto';
}
  
.social:hover .text {
    transform: scale(1);
}
  
.social::before {
    content: ' ';
    position: absolute;
    background-image: linear-gradient(45deg, var(--cor1), var(--cor2));
    inset: 0;
    opacity: 0;
    border-radius: 60px;
}
  
.social:hover::before {
    opacity: 1;
}

/* Responsividade*/
@media (min-width: 280px) and (max-width: 880px) {
    .menuHamburguer {
        display: block;
        z-index: 1;
    }
    .listaMenu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgb(106, 13, 173);
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0;
        clip-path: circle(100px at 90% -15%);
        transition: 1s ease-out;
        pointer-events: none;
    }
    .listaMenu a {
        font-size: 3rem;
        opacity: 0;
    }
    .listaMenu li:nth-child(1) a{
        transition: 0.5s 0.2s;
    }
    .listaMenu li:nth-child(2) a{
        transition: 0.5s 0.4s;
    }
    .listaMenu li:nth-child(3) a{
        transition: 0.5s 0.6s;
    }

    .icones {
        height: 35px;
        width: 35px;
        padding-right: 8px;
    }
    .menu.active .listaMenu {
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
    }
    .menu.active .listaMenu a {
        opacity: 1;
    }
    .menu.active .menuHamburguer{
        position: fixed;
        top: 26px;
        right: 16px;
        border-top-color:transparent ;
    }
    .menu.active .menuHamburguer::before {
        transform: rotate(135deg);
    }
    .menu.active .menuHamburguer::after {
        transform: rotate(-135deg);
        top: -7px;      
    }
}